@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*::-webkit-scrollbar {
  width: 8px;
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 5px;
}
